    <div class="container-fluid footer-margin">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 custom-footer text-center">
          <a class="social" href="https://www.facebook.com/losaltosacu" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>&nbsp;<a class="social" href="https://www.yelp.com/biz/los-altos-acupuncture-center-los-altos" target="_blank"><i class="fa fa-yelp fa-3x"></i></a><br /><br />Copyright &copy; {{ site.time | date: "%Y" }} <a href="{{ site.root_url}}">Olympic Acupuncture</a>
        </div>
      </div>
    </div>
    <br /><br />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>