<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title != "Home" %}{{ page.title }} | {% else %}{% endif %}Olympic Acupuncture</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Olympic Acupuncture">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/ico" href="{{ site.root_url }}images/favicon.ico"/>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.root_url }}css/custom.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid"><!-- inner container -->
        <div class="navbar-header">
        <!-- <a class="navbar-brand" href="/"><img src="{{ site.root_url }}images/logo.png"></a> -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% for tab in site.navigation %}
            {% if page.url == "/index.html" and tab.url == "/" %} 
              <li class="active"><a href="{{ tab.url }}">{{ tab.title }}</a></li>
            {% elsif page.url contains tab.url and tab.url != "/" %}
              <li class="active"><a href="{{ tab.url }}">{{ tab.title }}</a></li>
            {% else %}
              <li><a href="{{ tab.url }}">{{ tab.title }}</a></li>
            {% endif %}
          {% endfor %}
          </ul> 
        </div><!--/.nav-collapse -->
      </div><!--/.inner container -->
    </nav>